<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h1{
            color: fuchsia;
            margin-left: 43%;
        }
        table{
            margin-left: 40%;
            border:1px solid black;
        }
        td{
           border:1px solid black;
        }
        a{
            margin-left: 46%;
        }
    </style>
</head>
<body>
<h1>{{ name }}成绩</h1>
<table>
    <tr><td>姓名：</td><td>{{ name }}</td></tr>
    <tr><td>身份证号：</td><td>{{ ID }}</td></tr>
    <tr><td>分数</td><td>{{ goal }}</td></tr>
</table>
<a href="/deng">返回</a>
</body>
</html>